@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.parent-container {
    display: flex;
    justify-content: space-evenly;
}

.Question-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Question-section>div {
    margin: 10px;
    padding: 20px;
}

.Question-section>div button {
    border-radius: 50px;
    /* background: #55b9f3; */
    box-shadow:  6px 6px 12px #489dcf, 
                 -6px -6px 12px #62d5ff;
}

.Question-section>div p {
    font-weight: 300;
    font-size: 1.5em;
}

svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}

.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}

.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
}

p.success {
    color: #73AF55;
}

p.error {
    color: #D06079;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

@keyframes dash-check {
    0% {
        stroke-dashoffset: -100;
    }
    100% {
        stroke-dashoffset: 900;
    }
}

#wrongAns {
    display: none;
}

#correctAns {
    display: none;
}

body {
    background: linear-gradient(73deg, rgba(135, 175, 226, 0.815) 0%, #2AF598 70%);
    background-size: 400% 400%;
    font-family: 'Noto Sans KR', sans-serif;
    background-repeat: no-repeat;
    /* background-size: 400% 400%; */
}

/* .indiaMapImg{
    box-shadow:  20px 20px 60px #489dcf, 
    -20px -20px 60px #62d5ff;
} */

@media (max-width:600px) {
    .parent-container {
        flex-direction: column;
    }
   /* .Question-section{
    left: 13em;
    top: 0;
    position: absolute;
   } */
   .tooltip .tooltiptext {
    width: 10em;

   }
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 20em;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

